<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="partial/partials :: head">
    <title>Create</title>
</head>
<body>
<nav th:insert="partial/partials :: navbar"></nav>
<form action="/posts/create" method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="title" class="form-control" name="title" id="title">
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">body</label>
        <input type="body" class="form-control" name="body" id="body">
    </div>
    <input type="submit" class="btn btn-primary btn-block">
</form>


<footer th:insert="partial/partials :: footer"></footer>
</body>
</html>