<!DOCTYPE html>
<html lang="en">
<head th:insert="partial/partials :: head">
    <title>Create</title>
</head>
<body>
<nav th:insert="partial/partials :: navbar"></nav>
<form>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="title" class="form-control" name="title" id="title">
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">body</label>
        <input type="body" class="form-control" name="body" id="body">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<footer th:insert="partial/partials :: footer"></footer>
</body>
</html>