<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="partial/partials :: head">
    <title>Show one Post</title>
</head>
<body>
<nav th:insert="partial/partials :: navbar"></nav>
<h1 th:text="${post.user.getUsername()}">Insert User username here</h1>
<h1 th:text="${post.user.getEmail()}">Insert User email here</h1>
<h1 th:text="${post.title}">Insert post title here</h1>
<h1 th:text="${post.id}">Insert post title here</h1>
<h1 th:text="${post.body}">Insert post title here</h1>


<footer th:insert="partial/partials :: footer"></footer>
</body>
</html>