<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="partial/partials :: head">
    <title>Home</title>
</head >
<body>
<nav th:insert="partial/partials :: navbar"></nav>

<h1>This is the home page</h1>

<h1>Hello, <span th:text="${name}">World</span>!</h1>

<p>Person's name is <span th:text="${personName}">Insert person name here</span></p>
<!--/home/name?age=(a number)-->
<p>Person's age is <span th:text="${personAge}">Insert person name here</span></p>

</body>
</html>
